<div class="row text-center">
    <div class="col-4">
        <div class="foto">
            <img src="../../../assets/perfil.jpg" alt="">

        </div>
        <div class="nombre">
            <h1 class="about__name">Leonardo Mijares</h1>
            <h2 class="about__prof">Ingeniero Aeronáutico</h2>

        </div>
    </div>
    <div class="col-8 align-self-center">
        <p class="about__title"> Sobre mi.</p>
        <p class="about__text"> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, laboriosam,
            reprehenderit explicabo beatae error dolorum ipsum veritatis natus enim ipsa repudiandae fugit.
            Necessitatibus perspiciatis nisi sequi cupiditate dolorum. Porro delectus facere temporibus error a
            consectetur beatae. Modi ratione illo laborum incidunt, maiores quibusdam provident, aspernatur id
            praesentium ea, magni voluptatem?"</p>
    </div>
</div>