<section id="overlay" class="home">
    <div id="home" class="row animate__animated animate__fadeIn animate__slower">
      <div class="col-10 col-md-5 home__block flex-column flex-md-row">
        <div class="text-center text-md-start">
          <p class="home__text mb-0">Hola,
            <br>
            Soy Leonardo.
          </p>
          <p class="home__text home__text__prof">Ingeniero Aeronáutico</p>
        </div>
        <img class="home__logo" src="../../../assets/LMLOGO.svg" alt="My logo">
      </div>
    </div>
  </section>
