<section id="experience" class="row mt-5">
    <div class="experience col-10 col-md-5 mx-auto">
      <div class="experience__textHolder">
        <p class="experience__title pt-4">Experience</p>
      </div>
      <div class="wow animate__animated animate__fadeInUp animate__slow">
        <div class="experience__container">
          <div id='educationTitle' onclick="showEducation()" class="experience__iconNtitle d-flex align-items-center"
            style="color: rgb(139, 114, 175);">
            <img id="educationIcon" src="media/education.svg" alt="Education Icon"
              style="filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);">
            <p>Education</p>
          </div>
          <div id='workTitle' onclick="showWork()" class="experience__iconNtitle d-flex align-items-center">
            <img id="workIcon" src="media/laptop.svg" alt="Work Icon">
            <p>Work</p>
          </div>
        </div>
        <div id="educationTimeline" class="containerTimeline">
          <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
              <p>React Js</p>
              <span>Coderhouse</span>
              <p>Oct-Dec 2021</p>
            </div>
          </div>
          <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
              <p>Javascript</p>
              <span>Coderhouse</span>
              <p>Aug-Oct 2021</p>
            </div>
          </div>
          <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
              <p>Web Development</p>
              <span>Coderhouse</span>
              <p>May-Jul 2021</p>
            </div>
          </div>
          <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
              <p>Graphic Design</p>
              <span>Universidad de Morón</span>
              <p>2019-2021</p>
              <p class="timeline-text">Third and last year in college. I've completed 22 out of 33 subjects.</p>
            </div>
          </div>
          <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
              <p>English Cambridge Certificate</p>
              <span>Private Institute</span>
              <p>2008-2017</p>
            </div>
          </div>
          <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
              <p>High School Diploma</p>
              <span>Private School</span>
              <p>2011-2017</p>
            </div>
          </div>
        </div>
      </div>


      <div id="workTimeline" class="containerTimeline containerTimeline--work">
        <div class="timeline-block timeline-block-left">
          <div class="marker"></div>
          <div class="timeline-content">
            <p>Fg Sport</p>
            <span>Freelance Project</span>
            <p>Jan-Mar 2022</p>
            <p class="timeline-text">This project was about a real football scouting agency that used Big Data and AI
              algorithms regarding players statistics. Our assignment as devs was to code our designer's web design
              layout. Our team was formed by four people: two Developers, one UX/UI Designer and one Community Manager.
              GIT was used for version control between developers.&lrm;</p>
          </div>
        </div>
        <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
            <p>Pico Rico</p>
            <span>Freelance Project</span>
            <p>Sep-Nov 2021</p>
            <p class="timeline-text">This project was about a small business that produced healthy snacks such as dried
              fruits, nuts and seeds. This project was made between three people, one UX/UI Designer and two Developers.
              Our task as developers was to recreate the designer's wireframe. We used GIT for version control between
              developers.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
